
body{
    height: 70vh;
display: flex;
align-items: center;
justify-content: center;
}
.app{
    margin-top: 7%;
    background: #e3b623;
padding: 25px 24px;
border-radius: 20px;
width: 590px;
}
.app .box {
    padding: 25px 24px;
    border-radius: 20px;
    width: 590px;
}

    select{
        width: 50%;
        height: 40px;
        font-size: 1.2em;
        cursor: pointer;
        background:rgb(176, 26, 15);
        outline: none;
        color: rgb(255, 255, 255);
        margin: 0.2em 0;
        padding: 0 1em;
        border-radius: 10px;
        border: none;
        margin-bottom: 10px;
        }
        
        input{
        width: 30%;
        height: 40px;
        font-size: 1em;
        margin: 0.2em 0;
        border-radius: 10px;
        border: none;
        background: #fff;
        outline: none;
        padding: 0 1em;
        margin-bottom: 10px;
        }
        

.convert{
    width: 43%;
height: 40px;
background:#fff;
color: rgb(0, 0, 0);
border-radius: 10px;
border: none;
cursor: pointer;
font-size: 1em;
margin: 0.5em 0;

}
@media(max-width:1400px){
    .app{
        padding: 10px 10px;
        width: 480px;
    }
    select , input{
        font-size: 14px;
        height: 30px;
    }
    .convert{
        height: 28px;
        font-size: 14px;
        width: 28%;
    }
   
}
@media(max-width:400px){
    .app{
        width: 400px;
    }
    .convert{
        width: auto;
    }
}